body {
    background-color: black;
    color: limegreen;
    font-family: monospace;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.terminal {
    max-width: 800px;
    width: 90%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px solid limegreen;
    padding: 30px;
    box-shadow: 0 0 15px limegreen;
    font-size: 1.2em;
    margin: 20px 0;
}

.header-box {
    max-width: 800px;
    width: 90%;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    border: 2px solid limegreen;
    padding: 30px;
    box-shadow: 0 0 15px limegreen;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 20px;
}

.command {
    margin: 15px 0;
}

.output {
    margin: 15px 0;
    display: flex;
    gap: 20px;
}

.command-link {
    color: limegreen;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.command-link:hover {
    color: white;
}

.blink {
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}